/* CSS Variables */
:root{
    --backgroundBlack:rgb(17, 15, 15);
    --backgroundWhite:rgb(250, 239, 239);
    --textWhite:white;
    --textBlack:black;
}




/* The switch - the box around the slider */
.switch {
    z-index: 99;
    font-size: 17px;
    position: fixed;
    left:90vw;
    top:5vh;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    /* The slider */
    .slider {
    border:2px solid black;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    transition: .5s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px white;
    background: black;
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #ff4800d7;
  }


  /* switch toogle classes */
  .darkBg{
    background:var(--backgroundBlack);
  }
  .lightBg{
    background: var(--backgroundWhite);
  }
  .textWhite{
    color:var(--textWhite);
  }
  .textBlack{
    color:var(--textBlack);
  }

  body{
    background: var(--backgroundWhite);
    margin: 0px;
    padding: 0;
  }

  /*    Header-Css-Start    */
  header{
    display:flex;
    position: relative;
    /* left:40px; */
    width:100%;
    width:100%;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid black; */
    height:100px;
    background: #1f7eeb67;
  }
  .logo{
    position:absolute;
    left:20px;
    display:flex;
    flex-wrap: wrap;
    width:10vh;
    height:10vh;
  }

  .logo-top{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5px
  }
  .logo-top h1{
    font-size:40px;
    color:rgb(233, 175, 68);
  }
  .logo-top p{
    font-size:30px;
    color:rgb(121, 49, 49);
  }
  .logo-bottom{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-top: -33px;
    margin-left: 26px;
}
  
  /*    Navgation-Start     */
  nav{
    position:relative;
    display: flex;

    top:30px;
  }
  nav ul{
    display:inline-block;
    font-size:18px;
    position:relative;
    right:50px;
  }
  .nav_1, .nav_2{
    cursor: pointer;
    display: flex;
    gap:10px;
    justify-content: center;
  }
  .nav_2 span{
    font-size:20px;
      position:relative;
      bottom:5px;
  }
  .nav_1 span {
    font-size:22px;
    position:relative;
    bottom:5px;
    
  }
  .nav_3{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap:20px;
    position: relative;
    right:70px;
  }
  .nav_3 li{
    display: flex;
    gap:20px;
  }
  .nav_3 li span{
    position:relative;
    bottom:5px;
    
    font-size:22px;
  }
  /*    Navgation-End   */
  .header-icon1{
    height:80px;
    width:80px;
    border-radius: 100px;
    /* background-color: white; */
  }
  .header-icon2{
    height:30px;
    width:30px;
  }

  .navigation-buttons{
    display:flex;
    gap:20px;
    position:relative;
    right:50px;
  }

  .book-appointment{
    height:50px;
    width:200px;
    border-radius: 20px;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    top:30px;
    /* left:10px; */
    font-size: 16px;
  }
  
  .help-button{
    height:50px;
    width:100px;
    border-radius: 20px;
    position:relative;
    top:30px;
    left:10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    background: transparent;
  }
  .help-button-text{
    display:flex;
    gap:5px;
    position: relative;
    right:10px;
    justify-content: center;
    align-items: center;
  }
  .help-button-text span{
    font-size: 22px;
  }

  /*    Header-Css-End  */
